<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482394865526-9han0akb3epj12umqg7j22tpl6koq9sd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482394865526-9han0akb3epj12umqg7j22tpl6koq9sd</string>
	<key>API_KEY</key>
	<string>AIzaSyCdM6vLqikEtsIaKBRPKmfETEjgF9OxcNs</string>
	<key>GCM_SENDER_ID</key>
	<string>482394865526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.calendarScheduler</string>
	<key>PROJECT_ID</key>
	<string>calendar-scheduler-b3509</string>
	<key>STORAGE_BUCKET</key>
	<string>calendar-scheduler-b3509.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482394865526:ios:4627d14f289f329c01c457</string>
</dict>
</plist>